* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #738ccd;
  text-align: center;
  
}
.container {
  background: transparent;
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
    rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
    rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
  width: 60vw;
  margin: 0vw 20vw;
  min-height: 83vh;
  margin-bottom: 10vh;
}

h1 {
  color: rgb(163, 42, 179);
  margin-top: 45px;
  height: 4rem;

  font-weight: 900;
  box-shadow: tomato;

  background-color: var(--bs-dark-bg-subtle);
}
.formcontainer {
  /* border: 2px solid greenyellow; */
  margin: 5vw 0;

  display: flex;
  justify-content: center;
  align-items: center;
}
.input-todo {
  height: 3rem;
  width: 25vw;
  text-align: center;
  
}
.addTaskbtn {
  border: none;
  border-radius: 0px;
  height: 3rem;
  
  background-color: rgba(26, 101, 231, 0.841);
}

.liList {
  background-color: rgb(156, 167, 200);
  border: none;
  border-radius: 10px;
  margin: 4vw 10vw;
  font-size: 20px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 700;
  list-style: none;
  display: flex;
align-items: center;
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
    rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
    rgba(255, 255, 255, 0.133) 0px 1px 0px inset;
}
.liTodo {
  color: rgb(249, 236, 0);
  width: 100%;
  text-align: center;
 font-weight: 500;
 font-size: xx-large;
 
}
.clearbtn {
  color: red;
  
}
.checkBtn {
  color: blue;
  background-color: skyblue;
}

.lineThrough {
  text-decoration: line-through;
  color: rgb(255, 49, 169);
}
.commonbtn{
  height: 50px;
 width: 45%;
  text-align: center;
  padding: 0px 25px;
  font-size: xx-large;
  }

@media screen and (max-width: 500px) {
  .formcontainer {
    flex-direction: column;
    width: 100%;
  }
  h1 {
    color: rgb(163, 42, 179);
    margin-top: 5px;
    height: 2.5rem;
    font-weight: 600;
    font-size: xx-large;
  }
  .date{
font-size: large;
  }

  .container{
    width: 90vw;
    margin: 5vw;
  }
  .input{
    width: 100%;
    
  }
  .input-todo{
    width: 90%;
    margin: 10px;
    border: 2px solid rgb(218, 213, 213);
  }

  .addTaskbtn{
    border: 1px solid black;
   border-radius: 11px;
  }
  .liList{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding: 10px;

  }
  .commonbtn{
    height: 40px;
    border-radius: 5px;
    text-align: center;
    padding: 0px 25px;
    font-size: x-large;
    }
    .liTodo {
     
      background: #48dc77bf;
      border: 1px solid black;
     
    }
}
